<div class="chart">
    <input type="date" [value]="selectedDate" (change)="onDateChange($event)">
    <select [(ngModel)]="selectedPeriodType" (change)="onPeriodTypeChange($event)">
      <option value="day">Jour</option>
      <option value="week">Semaine</option>
      <option value="month">Mois</option>
      <option value="year">Année</option>
    </select>
    <select (change)="onCategoryChange($event)">
      <option value="">Catégories</option>
      <option *ngFor="let category of categories" [value]="category.id">{{ category.category_Name }}</option>
    </select>
    <br>
    <br>
    <br>
    <canvas #myChart></canvas>
<br>
<br>
<br>
<ul role="list" class="divide-y divide-gray-100">
  <li class="flex justify-between gap-x-6 py-5" *ngFor="let expense of expenses">
    <div class="flex min-w-0 gap-x-4">
      <div class="min-w-0 flex-auto">
        <p class="text-sm font-semibold leading-6 text-gray-900">Categories : {{ getCategoryName(expense.category_Id) }}</p>
        <p class="mt-1 truncate text-xs leading-5 text-gray-500">Description : {{ expense.description }} </p>
      </div>
    </div>
    <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
      <p class="text-sm leading-6 text-gray-900">Montant : {{ expense.amount}} €</p>
    </div>
  </li>
</ul>
</div>
  