<div class="space-y-10 divide-y divide-gray-900/10">
    <div class="grid grid-cols-1 gap-x-8 gap-y-8 pt-10 md:grid-cols-3">
      <div class="px-4 sm:px-0">
        <h2 class="text-base font-semibold leading-7 text-gray-900">Créer une Dépense</h2>
      </div>
      <form [formGroup]="createExpenseForm" (ngSubmit)="createExpense()" class="bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl md:col-span-2">
        <div class="px-4 py-6 sm:p-8">
          <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">

            <div class="sm:col-span-3">
                <label for="user_Id" class="block text-sm font-medium leading-6 text-gray-900">Utilisateur</label>
                <div class="mt-2">
                  <select id="user_Id" formControlName="user_Id" class="block w-full pl-2 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    <option *ngFor="let user of users" [value]="user.id">{{ user.firstname }} {{ user.lastname }}</option>
                  </select>
                  <span class="text-red-600" *ngIf="createExpenseForm.get('user_Id')?.touched && createExpenseForm.get('user_Id')?.errors?.['required']">Champs requis</span>
                </div>
              </div>

              <div class="sm:col-span-3">
                <label for="home_Id" class="block text-sm font-medium leading-6 text-gray-900">Maison</label>
                <div class="mt-2">
                  <select id="home_Id" formControlName="home_Id" class="block w-full pl-2 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    <option *ngFor="let home of homes" [value]="home.id">{{ home.name_Home }}</option>
                  </select>
                  <span class="text-red-600" *ngIf="createExpenseForm.get('home_Id')?.touched && createExpenseForm.get('home_Id')?.errors?.['required']">Champs requis</span>
                </div>
              </div>
              
              <div class="sm:col-span-4">
                <label for="category_Id" class="block text-sm font-medium leading-6 text-gray-900">Catégorie</label>
                <div class="mt-2">
                  <select id="category_Id" formControlName="category_Id" class="block w-full pl-2 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    <option *ngFor="let category of categories" [value]="category.id">{{ category.category_Name }}</option>
                  </select>
                  <span class="text-red-600" *ngIf="createExpenseForm.get('category_Id')?.touched && createExpenseForm.get('category_Id')?.errors?.['required']">Champs requis</span>
                </div>
              </div>
        
              <div class="sm:col-span-4">
                <label for="amount" class="block text-sm font-medium leading-6 text-gray-900">Montant</label>
                <div class="mt-2">
                  <input type="number" name="amount" id="amount"  required formControlName="amount" class="block w-full pl-2 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  <span class="text-red-600" *ngIf="createExpenseForm.get('amount')?.touched && createExpenseForm.get('amount')?.errors?.['required']">Champs requis</span>
                </div>
              </div>

              <div class="sm:col-span-4">
                <label for="descriptiondescription" class="block text-sm font-medium leading-6 text-gray-900">Description</label>
                <div class="mt-2">
                  <input type="text" name="" id="description"  required formControlName="description" class="block w-full pl-2 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  <span class="text-red-600" *ngIf="createExpenseForm.get('description')?.touched && createExpenseForm.get('description')?.errors?.['required']">Champs requis</span>
                </div>
              </div>

              <div class="sm:col-span-4">
                <label for="date_Expense" class="block text-sm font-medium leading-6 text-gray-900">Date</label>
                <div class="mt-2">
                  <input type="date" name="date_Expense" id="date_Expense"  required formControlName="date_Expense" class="block w-full pl-2 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  <span class="text-red-600" *ngIf="createExpenseForm.get('date_Expense')?.touched && createExpenseForm.get('date_Expense')?.errors?.['required']">Champs requis</span>
                </div>
              </div>

          </div>
        </div>
        <div class="flex items-center justify-start gap-x-6 border-t border-gray-900/10 px-4 py-4 sm:px-8">
          <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Enregistrer</button>
        </div>
      </form>
    </div>
  </div>